# Python 
__pycache__/
*.py[cod]
*$py.class

# 日志与环境
*.log
logs/
venv/
.venv/
.env

# IDE 
.vscode/
.idea/

#  PyInstaller 
build/
dist/
*.spec

scheduler_config.json
temp_playlist.json

tests/

state.json